<h1>Administration</h1>

<ul>
  <li><%= link_to 'Manage users', users_url %></li>
  <li><%= link_to 'Manage categories', categories_url %></li>
  <li><%= link_to 'Manage all projects', '/admin/projects' %></li>
  <li><%= link_to 'Set boss/employee relationships', '/admin/bosses' %></li>
</ul>
