<h1>Bossfight</h1>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <%= image_tag 'logo/suitspunch-small.png', class: 'logo', alt: 'Bossfight logo' %>
</p>

<p>
  Welcome to Bossfight!
</p>

<p>
  This is a small application designed to help organize and prioritze tasks coming from
  multiple sources. Specifically, multiple bosses who are fighting for one another for
  your time. Once they have an account and have been specified as your bosses, they can
  log in and add, edit, remove, and prioritize projects.
</p>

<p>
  The following are things I may or may not add:
</p>

<ul>
  <li>Ability to add tasks within a priority</li>
  <li>Start and due dates on projects</li>
  <li>Commenting for projects and tasks</li>
  <li>Auditing (tracking additions/removals/changes/reprioritization)</li>
  <li>Password resets (currently limited to admin users)</li>
  <li>Email support (easy to add to the app, but running a mail server kinda sucks)</li>
  <li>Design (I wrote most of this over Sat/Sun morning one weekend, didn't bother giving it any styling)</li>
  <li>Add a better editor for project/task details</li>
  <li>AJAXify things</li>
  <li>List projects by category, creator, etc.</li>
</ul>

<p class="footer">
  <small>
    Copyright &copy; 2015 Ross Nelson. Written in <a href="http://rubyonrails.org">Rails</a>.
    <a href="https://github.com/rnelson/bossfight">Open source</a>, licensed under the
    <a href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a>.
  </small>
</p>
