<p id="notice"><%= notice %></p>

<div class="projects">
  <%
     # List projects for this user
     @user = User.find_by_id(session[:user_id])
  %>
  <%= render 'user_projects' %>

  <%
     # List projects for each employee
     Boss.employees_for(session[:user_id]).each do |employee|
       @user = employee
       if @user.id != session[:user_id]
  %>
      <%= render 'user_projects' %>
    <% end %>
  <% end %>

  <hr>

  <p>
    <strong>Legend:</strong>
    <span class="status new">New</span>, <span class="status in-progress">In Progress</span>,
    <span class="status stalled">Stalled</span>, <span class="status done">Done</span>,
    <span class="status deleted">Deleted</span>
  </p>

  <%= link_to 'Create new project', new_project_path %>
</div>
