<p id="notice"><%= notice %></p>

<div class="projects">
  <p>
    This page lists all projects for you and any of your employees. To change the priority, simply drag
    items up and down in the list.
  </p>

  <%
     # List projects for this user
     @user = User.find_by_id(session[:user_id])
  %>
  <%= render 'user_projects' %>

  <%
     # List projects for each employee
     Boss.employees_for(session[:user_id]).each do |employee|
       @user = employee
  %>
    <%= render 'user_projects' %>
  <% end %>

  <hr>

  <p>
    <strong>Legend:</strong>
    <span class="status new">New</span>, <span class="status in-progress">In Progress</span>,
    <span class="status stalled">Stalled</span>, <span class="status done">Done</span>
  </p>

  <%= link_to 'Create new project', new_project_path %>
</div>