# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 22efb5a64652fbc65f468925424923bfa4deb9025053bf0ef4439148a73fec77f2483f5232c7e863cfcce0975d3d9ee333be7a74c2d8cae62b433eee9181da55

test:
  secret_key_base: fc38e6aed33399a7307a7c4ba2351e2028d9b20b9584f28563967016d3c0cfeecc62029ce8078c00a7c3c3b9e06ead80d2f8057a09970dc909269b371a34ec15

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
